@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');
@import '../scss/Variables.scss';

body {
  margin-top: 4rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  background-color: $quaternary-bg-color;
  color: $text-color;
  position: relative;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
  color: $text-color;
}
h1 {
  color: $text-color;
}
h2 {
  color: $text-color;
}
h3 {
  color: $text-color;
}
h4 {
  color: $text-color;
}
h5 {
  color: $text-color;
}

// h1, h2, h3, h4, h5 {
//   text-shadow: 2px 2px 3px rgb(180, 176, 176);

// }

.divider {
  color: $primary-bg-color;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(180, 176, 176);
  height: 60px;
  line-height: 2rem;
  top: 28.75rem;
}

.segment {
  padding-top: 30px;
  padding-bottom: 80px;
}

.segmentX {
  padding: 80px 0;
  background-color: $quaternary-bg-color-light;
  .segment-heading {
    margin-bottom: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: bold;
    color: $primary-bg-color;
    .badge {
      background-color: $primary-bg-color !important;
      color: $quaternary-bg-color-light;
    }
  }
}

.segment-heading {
  color: $primary-bg-color;
  font-family: $bodyFont;
  font-weight: 500;
  text-shadow: 2px 2px 3px rgb(180, 176, 176);
  font-size: 2rem;
  letter-spacing: 1px;
}
// breadcrumb
.breadcrumb {
  margin: 5rem 5rem 2rem;
  .breadcrumb-item {
    font-size: 2rem;
    font-weight: bold;
  }
  .active {
    color: $bold-text-color
  }
  a {
    text-decoration: none;
    color: $text-color;
  }

}
